@font-face {
  font-family: "Roboto";
  src: url("Roboto/Roboto-Regular.ttf") format("truetype");
}

body {
  margin: 0;
}

* {
  font-family: Roboto;
}

.header {
  display: flex;
  background-color: #1F2937;
}

.left-gutter,
.right-gutter {
  flex: 1;
}

.middle {
  width: 1000px;
  display: flex;
  gap: 16px;
}

.header .logo {
  font-size: 24px;
  color: #F9FAF8;
  flex: 1;
  font-weight: 600;
}


.header a {
  font-size: 18px;
  color: #E5E7EB;
  text-decoration-line: none;
}