@font-face {
  font-family: "Roboto";
  src: url("Roboto/Roboto-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Roboto-LightItalic";
  src: url("Roboto/Roboto-LightItalic.ttf") format("truetype");
}

body {
  margin: 0;
}

* {
  font-family: Roboto;
}

.header,
.information,
.quote,
.call-to-action {
  display: flex;
}

.header {
  background-color: #1F2937;
}

.left-gutter,
.right-gutter {
  flex: 1;
}

.middle {
  box-sizing: border-box;
  width: 1000px;
}

.information .middle {
  padding: 0 104px 72px;
}

.quote {
  background-color: #E5E7EB;
}

.quote .middle {
  padding: 72px 104px;
}

.call-to-action .middle {
  padding: 104px 0;
}

.top-nav {
  display: flex;
  gap: 16px;
  padding-top: 16px;;
}

.hero {
  display: flex;
  padding: 104px 0;
  gap: 24px;
}

.hero .words {
  flex: 1;
}

.hero .image {
  background-color: lightgray;
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
}

.hero .main {
  font-size: 48px;
  font-weight: 900;
  color: #F9FAF8;
}

.secondary {
  font-size: 18px;
  color: #E5E7EB;
}

button.sign-up {
  background-color: #3882F6;
  color: white;
  padding: 8px 36px;
  margin: 8px 0;
  border-radius: 8px;
  font-weight: bold;
  border-style: none;
}


.call-to-action button.sign-up {
  border: 2px solid white;
}

.header .logo {
  font-size: 24px;
  color: #F9FAF8;
  flex: 1;
  font-weight: 600;
}

.header a {
  text-decoration-line: none;
}

.information .title {
  font-size: 36px;
  font-weight: 900;
  color: #1F2937;
  text-align: center;
  margin: 32px 0;
}

.information .images {
  display: flex;
  justify-content: space-between;
}

.information .images .img {
  width: 150px;
  height: 150px;
  border: 4px solid #3882F6;
  border-radius: 16px;
  box-sizing: border-box;
  margin: 8px 0;
}

.information .pair {
  width: 150px;
  text-align: center;
}

.quote .wise-words {
  font-size: 36px;
  font-family: Roboto-LightItalic;
  color: #1F2937;
  padding: 16px;
}

.quote .author {
  text-align: right;
  font-size: 24px;
  font-weight: bold;
}

.call-to-action .container {
  background-color: #3882F6;
  border-radius: 16px;
  padding: 48px 104px;
  display: flex;
}

.call-to-action .text {
  flex: 1;
}

.call-to-action .text div {
  color: white;
}

.call-to-action .text strong {
  font-size: 24px;
}
